node_modules
package-lock.json
node/course/module/output.txt
node/course/web/view-koa/bower_components
__pycache__
python/virtualenv/venv
.idea
/vendor/jos/jos-php-open-api-sdk-2.0
ghostdriver.log
resnet50_coco_best_v2.0.1.h5